<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated vdml -->
      <package
            uri=" http://www.omg.org/spec/VDML/20120601/vdml.xmi"
            class="vdml.VdmlPackage"
            genModel="model/vdml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated vdml -->
      <package
            uri="http:///smm.ecore"
            class="smm.SmmPackage"
            genModel="model/vdml.genmodel"/>
   </extension>

</plugin>
